@import "variables";

@mixin base-font($weight: 400) {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: $weight;
}

@mixin flex-column($main-axis, $second-axis) {
  display: flex;
  flex-direction: column;
  justify-content: $main-axis;
  align-items: $second-axis;
}

@mixin flex-row($main-axis, $second-axis) {
  display: flex;
  flex-direction: row;
  justify-content: $main-axis;
  align-items: $second-axis;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin pseudo {
  content: "";
  position: absolute;
}

@mixin visually-hidden-mixin {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  @include visually-hidden-mixin;
}

@mixin requared {
  position: relative;

  &::before {
    @include text-regular-16;
    position: absolute;
    content: "*";
    top: 9px;
    left: 12px;
    color: $red;
  }
}

@mixin button-hover {
  background-color: $red;
  color: $white;
  border: 1px solid $red;
}

@mixin title-bold-30 {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
}

@mixin title-bold-16 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

@mixin title-semibold-25 {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
}

@mixin text-bold-35 {
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
}

@mixin text-semibold-20 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

@mixin text-semibold-16 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

@mixin text-semibold-15 {
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
}

@mixin text-semibold-14 {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

@mixin text-regular-20 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

@mixin text-regular-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

@mixin text-regular-15 {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

@mixin text-regular-14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

@mixin text-regular-10 {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
