$white: #ffffff;
$black: #000;
$black-20: rgba(0, 0, 0, 0.2);
$text: #1a212f;
$light-gray: #f5f5f9;
$gray: #d7d9df;
$dark: #48494d;
$dark-50: rgba(72, 73, 77, 0.5);
$dark-20: rgba(72, 73, 77, 0.2);
$red: #d12136;
$red-hover: #bd0c21;
$error: #ff0000;
$cross-line: #a3a4a6;
$popup-back: rgba(88, 87, 87, 0.6);

$desktop: 1186px;
$min-desktop: 1024px;
$desktop-left: 610px;
$desktop-right: 500px;
$specification: 565px;
$desktop-popup: 698px;
